:root {
  --Navy: #4f6068;
  --Soft-Emerald: #6f908e;
  --Burnt-Orange: #cb936d;
  --Blushing: #c5a39a;
  --Spring-Pink: #ebd3ca;
  --Boho-Brown: #a36d52;
  --White: #ffffff;

  --primary-font: "Josefin Sans", sans-serif;
  --bold-font: 800;
  --medium-font: 600;
  --regular-font: 400;
  --light-font: 200;
}

/* My Font Styles */

body {
  font-family: var(--primary-font);
}

h1 {
  font-weight: var(--bold-font);
}
h2 {
  font-weight: var(--medium-font);
}
h3 {
  font-weight: var(--regular-font);
}
h5 {
  color: #808080;
}

.boxed {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fffcf8;
}

.font-variations {
  font-weight: var(--bold-font);
}

/* My Button Styles */

.button-solid {
  background-color: var(--Navy);
  border-color: var(--Navy);
  color: var(--White);
  border-width: 2px;
  padding-left: 30px;
  padding-right: 30px;
}

.button-outlined {
  background-color: var(--White);
  border-color: var(--Navy);
  color: var(--Navy);
  border-width: 2px;
  padding-left: 30px;
  padding-right: 30px;
}

.button-gradient {
  background: linear-gradient(
    55deg,
    var(--Blushing) 20%,
    var(--Spring-Pink) 70%
  );
  border-color: var(--Blushing);
  padding-left: 30px;
  padding-right: 30px;
}
.button-solid:hover {
  background-color: var(--White);
  border-color: var(--Navy);
  color: var(--Navy);
  padding-left: 30px;
  padding-right: 30px;
}
.button-gradient:hover {
  
  background: linear-gradient(
    55deg,
    var(--Navy) 20%,
    var(--Soft-Emerald) 70%
  );
  border-color: var(--Navy);
  color: var(--White);
  padding-left: 30px;
  padding-right: 30px;
  
  
}

.button-outlined:hover {
  background-color: var(--Boho-Brown);
  border-color: var(--Burnt-Orange);
  color: var(--White);
  padding-left: 30px;
  padding-right: 30px;
}

.container {
  padding: 50px;
}

.main-container {
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr.solid {
  border-top: 1px solid #000000;
}

.icon-button-small {
  background-color: var(--Navy);
  border: none;
  color: var(--White);
  padding: 12px 35px;
  font-size: 16px;
  cursor: pointer;
}

.icon-button-medium {
  background-color: var(--Navy);
  border: none;
  color: var(--White);
  padding: 20px 45px;
  font-size: 18px;
  cursor: pointer;
}

.icon-button-large {
  background-color: var(--Navy);
  border: none;
  color: var(--White);
  padding: 25px 50px;
  font-size: 20px;
  cursor: pointer;
}

.icon-button-small:hover {
  background-color: var(--Navy);
  color: var(--White);
  font-size: 14px;
}

.icon-button-medium:hover {
  background-color: var(--Navy);
  color: var(--White);
  font-size: 16px;
}

.icon-button-large:hover {
  background-color: var(--Navy);
  color: var(--White);
  font-size: 18px;
}
